.menu {
    box-sizing: border-box;
    background-image: url(../images/background_menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0a2750;
    color: #ffffff;
}

.menu__title {
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    text-align: center;
    padding-top: 100px;
    max-width: 780px;
    margin: 0 auto;
}



.menu__subtitle {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    padding-top: 24px;
    max-width: 780px;
    margin: 0 auto;
}


.menu__cards {
    display: flex;
    flex-direction: row;
    justify-content:center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 100px 0 100px 0;
    margin: 0;
} 