.recipes {
    box-sizing: border-box;
    background-color: #ffffff;
    background-image: url(../images/background_recipes.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.recipes__title {
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    max-width: 580px;
    padding: 100px 0 0 80px;
    margin: 0;
}   

.recipes__subtitle {
    font-family: 'Noto Serif', 'Times New Roman', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 438px;
    padding: 24px 0 0 80px;
    margin: 0;
}

.recipes__videos {
    
    display: flex;
    justify-content: center;
    padding: 80px 0 215px 0;
    gap: 40px;
    margin: 0;
    list-style-type: none;

}

.recipes__list {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.recipes__video-caption {
    display: flex;
    justify-content: space-between;
    font-family: Inter, 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    gap: 40px;
    padding: 24px 0 0 0;
    margin: 0;
}

.recipes__iframe {
    width: 480px;
    height: 273px;
    border: 0;
    margin: 0;
}